<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hack-a-thon{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams/new">Add a New Team</a></li>
    <li role="presentation"><a href="/about">About</a></li>
</ul>
<div class="container">

    <div class="page-header">
        <h1>Hack-a-thon: January 2018.</h1>
    </div>

    <p>This site is for Hack-a-thon: January 2018. Each month we provide a new event for teams to compete against each other for a prize.</p>
    <br>
    <p>This month's event is focused on financial software security. A corporate sponsor has provided code for our participants to attempt to exploit. The team with the most influential / most exploits wins.</p>


</div>
{{#block "footer"}}

</body>
</html>
{{/block}}