{{#partial "content"}}

    {{#if editTeam}}
    <h1>Edit team</h1>
    <form action="/teams/update" method="post">
        <select name="editTeamId" id="editTeamId">
            {{#each teams }}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <label for="newTeamName">Change name to: </label>
        <input id="newTeamName" name="newTeamName" type="text">

        {{else}}
            {{/if}}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


{{/partial}}

{{> layout.hbs}}